.gridContainer button:disabled {
  color: unset;
}

.row {
  display: flex;
  flex-direction: row;
}

.gridContainer {
  flex-direction: column;
  display: flex;
  max-width: 100vw;
  line-height: 0%;
}

.gridContainer button {
  padding: 0px;
  min-width: 20px;
  min-height: 20px;
  font-weight: bolder;
  border: 2px lightgray outset;
  background-color: darkgray;
}

.correct {
  background-color: lightgreen !important;
}
.bomb, .incorrect {
  background-color: red !important;
}

.nearby-0 {
  background-color: lightgray !important;
}

.nearby-1 {
  background-color: cyan !important;
}

.nearby-2 {
  background-color: skyblue !important;
}

.nearby-3 {
  background-color: bisque !important;
}
.nearby-4, .nearby-5, .nearby-6, .nearby-7, .nearby-8 {
  background-color: yellow !important;
}

.revealed {
  border: 1px gray solid !important;
}